.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 4fr 1fr;
    grid-gap: 5px;
    background-color: lightsteelblue;
}
.one{
    background-color: rgb(5, 255, 247);
    color: white;
    text-align: center;
    grid-column: span 3;
    padding: 10px;   
}