*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

/* .container{
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: 50px auto auto 50px;
    grid-gap: 5px;
    background-color: lightsteelblue;
    grid-areas: 
    "1 1 1 1 1"
    "2 2 3 3 3"
    "2 2 3 3 3"
    "2 2 3 3 3"
    "2 2 3 3 3"
    "2 2 3 3 3"
    "4 4 4 4 4";
}
.one{
    background-color: rgb(5, 255, 247);
    color: white;
    text-align: center;
 
     
    grid-area: 1;
}
.tow{
    background-color: rgb(6, 233, 51);
    color: white;
    text-align: center;
   
  

    grid-area: 2;
}
.three{
    background-color: rgb(129, 81, 27);
    color: white;
    text-align: center;
   
   

    grid-area: 3;
}
.four{
    background-color: rgb(5, 6, 5);
    color: white;
    text-align: center;
    
   

    grid-area: 4;
} */
.main{
   background-color: cadetblue; 
    height: 100vh;
display: grid;
gap: 20px;
grid-template-columns: repeat(7,1fr);
grid-template-rows: 50px auto  auto  50px;
grid-template-areas:
"nav nav nav nav nav nav nav"
"a a b b b b b"
"a a b b b b b"
"foot foot foot foot foot foot foot";

}

nav{
    color: white;
    padding: 10px;
    text-align: center;
    grid-area: nav;
    background-color: rgb(10, 151, 161);
}
.Section-2{
    color: white;
    padding: 10px;
    text-align: center;
    grid-area: a;
    background-color: rgb(33, 178, 30);
}

.Main-content{
    color: white;
    padding: 10px;
    text-align: center;
    grid-area: b;
background-color: rgb(167, 111, 7);

}
.container{
    height: 500px;
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
    
}
.container .img{
    display: flex;
    align-items: center;
    justify-content: center;
}
.img{
    padding: 10px; margin: 10px;
    width: 175px;
height: 175px;
background-color: rgb(231, 133, 62);
}
footer{
    color: white;
    padding: 10px;
    text-align: center;
    grid-area: foot;
    background-color:rgb(10, 151, 161) ;
}
h3{
    position: relative;
    top:300px;
}